/* Projeto: Site Burger Good */
/* Arquivo: sistemaPHP.css */
/* Autor: Vinícius Alarcon Vilela */
/* Criação: 25/11/2021 */

/* CORPO DA PÁGINA WEB */

body{
    background: rgb(255,178,0);
    background-color: linear-gradient(180deg, rgba(255,178,0,1) 40%, rgba(240,241,241,1) 100%);
    color: #1e1c2a;
    text-align: center;
}

.nav-edit {
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}
/* CLASSE CSS */
.table-bg{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px 15px 0 0;
}

